body {
  background-color: grey;
  height: 100%;
  margin: 0px;
}

header-posts {
  height: 5rem;
  margin: 0.5rem;
}

.main-container {
  display: flex;
  height: calc(100vh - 7rem);
  width: 100%;
}

.main-container sidebar-posts {
  width: 35%;
  height: 100%;
  overflow-y: auto;
}

.main-container #outlet {
  width: 65%;
  margin: 0.5rem;
}